body 
{ 
    font-family: 'Courier New', monospace; 
    background: #1a1a1a; 
    color: #0f0; 
    text-align: 
    center; 
    padding: 50px; 
}
.consola 
{ 
    border: 2px solid #0f0; 
    padding: 20px; 
    max-width: 600px; 
    margin: 0 auto; 
    background: #000; 
    position: relative;
}
input 
{ 
    background: #333; 
    border: 1px solid #0f0; 
    color: #fff; 
    padding: 5px; 
    font-family: inherit; 
    font-size: 1.2em; 
    width: 60%;
}
button 
{ 
    background: #0f0; 
    color: #000; 
    border: none; 
    padding: 8px 20px; 
    cursor: pointer; 
    font-weight: bold; 
    font-family: inherit; 
    font-size: 1em; 
    margin-top: 10px;
}
button:hover 
{ 
    background: #fff; 
}
#mensaje 
{ 
    margin-top: 15px; 
    min-height: 20px; 
    font-weight: bold; 
}
.pista-btn 
{ 
    background: #333; 
    color: #aaa; 
    font-size: 0.8em; 
    margin-top: 20px;
}
/* temporizador*/
#timer 
{
    font-size: 2.5em;
    color: red;
    border: 1px solid red;
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 20px;
    background-color: #220000;
    text-shadow: 0 0 5px red;
}
.alerta 
{ 
    animation: parpadeo 0.5s infinite; 
}
@keyframes parpadeo { 0% { opacity: 1; } 50% { opacity: 0.5; } 100% { opacity: 1; } }